# Mission 1

For each cell, execute the code and answer the question before moving on to the next.

In [ ]:
people = {"Gontran": 23,
          "Jason": 42,
          "Ayoub": 27}


for i in people:
  print(i)

Gontran
Jason
Ayoub

1. What does `i` correspond to?
To answer, you must use the terms "keys" and "values".

Answer:

In [ ]:
for i in people.keys():
  print(i)

Gontran
Jason
Ayoub

In [ ]:
for i in people.values():
  print(i)

23
42
27

2. What does `i` correspond to in the second last cell?  
What does `i` in the last cell correspond to?  
Why do you ask?

Answer:

In [ ]:
for i in people.items():
  print(i)

('Gontran', 23)
('Jason', 42)
('Ayoub', 27)

3. What is the type of object returned here called?

Answer:

In [ ]:
for i, age in people.items():
  print(age)

23
42
27

4. Here I can recover the age of the people. How could I retrieve their names?

Answer:

# Mission 2

In [ ]:
people = {"Gontran": 23,
          "Jason": 42,
          "Ayoub": "27",
          "Léo": [10,20,30],
          "Rosario": {"Juan": 3,
                      "Camelia": 6}}


for i in people.values():
  print(type(i))

<class 'int'>
<class 'int'>
<class 'str'>
<class 'list'>
<class 'dict'>

1. Does the above code allow me to confirm that I can have values of different types within a dictionary?

Answer:

2. Can I have keys of different types within a dictionary?

Answer:

In [ ]:
people["Ayoub"] = int(people["Ayoub"])

for i in people.values():
  print(type(i))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'list'>
<class 'dict'>

3. What did the above code allow me to do?

Answer:

# Mission 3

In [ ]:
groups = {"groupe_1": ["Lam", "Ghizlaine", "Khaled", "Florian"],
          "groupe_2": ["Lucile", "Mbaye", "Cécile", "Rohan"],
          "groupe_3": ["Agathe", "Charlotte", "Charles", "Maxime"],
          "groupe_4": ["Gaelle", "Linh", "Meral"]}


for i in groups.values():
  print(i)

['Lam', 'Ghizlaine', 'Khaled', 'Florian']
['Lucile', 'Mbaye', 'Cécile', 'Rohan']
['Agathe', 'Charlotte', 'Charles', 'Maxime']
['Gaelle', 'Linh', 'Meral']

1. What is the type of each value?  
How do I get into each list?

Answer:

In [ ]:
for i in groups.values():
  for v in i:
    print(v)

Lam
Ghizlaine
Khaled
Florian
Lucile
Mbaye
Cécile
Rohan
Agathe
Charlotte
Charles
Maxime
Gaelle
Linh
Meral

2. How did I get into each list?  
Take the time to explain your reasoning for answering this question.

Answer:

modifcation du fichier